- content_for :title do 'Editing Article' end
- content_for :head do
  %meta{:content => "Editing Unturned ServerZ Article", :name => "description"}
  %meta{:content => "Servers, Unturned, Article, Edit", :name => "keywords"}
.page-header
  %h1 Editing Blog Post

= render 'form'