- content_for :title do 'New Article' end
- content_for :head do
  %meta{:content => "Creating Article for Unturned ServerZ", :name => "description"}
  %meta{:content => "Unturned, Servers, Article, New, Create", :name => "keywords"}
.page-header
  %h1 New Blog Post

= render 'form'