%footer
  %hr/
  %ul.nav.nav-pills
    %li.pull-left
      \© #{Time.now.year} Unturned Servers
    %li.pull-right
      %a{href: "#Top"} 
        Back to top
        .glyphicon.glyphicon-chevron-up
    %li.pull-right
      %a{href: revisions_path} Revisions