%footer
  %hr/
  %ul.nav.nav-pills.footer
    %li.pull-left
      \© #{Time.now.year} Unturned Servers
    %li
      Unturned Servers is not associated with Unturned or Smartly Dressed Games
    %li.pull-right
      %a{href: "#Top"} 
        Back to top
        %i.fa.fa-chevron-up
    %li.pull-right
      %a{href: revisions_path} Revisions