%footer
  %hr/
  %ul.nav.nav-pills.footer
    %li.pull-left
      %a © #{Time.now.year} Unturned Servers
    %li.pull-right
      %a{href: "#Top"}
        %i.fa.fa-chevron-up
        Back to top
    %li.pull-right
      %a{href: terms_path} 
        %i.fa.fa-pencil
        Terms
    %li.pull-right
      %a{href: revisions_path} 
        %i.fa.fa-code
        Revisions
    %li.pull-right
      %a{href: "#contact", "data-toggle" => 'modal'}
        %i.fa.fa-envelope
        Contact
    %li.pull-right
      %a{href: stats_path} 
        %i.fa.fa-signal
        Stats
  %span.st__hcount{:displaytext => ""}
  %span.st_fblike_hcount{:displaytext => "Facebook Like"}
  %span.st_plusone_hcount{:displaytext => "Google +1"}
  %script{:src => "http://w.sharethis.com/button/buttons.js", :type => "text/javascript"}
  :javascript
    stLight.options({publisher: "c2e6e60e-c42d-4a9b-a6c5-0ca8e2f39a96", doNotHash: false, doNotCopy: false, hashAddressBar: false});