%script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
.row{style: "margin-top: 15px;"}
  .div{align: "center"}
    / Lower Banner
    %ins.adsbygoogle{"data-ad-client" => "ca-pub-4398804065306098", "data-ad-slot" => "4150542567", :style => "display:inline-block;width:728px;height:90px"}
    :javascript
      (adsbygoogle = window.adsbygoogle || []).push({});
    #90ab2f6f32.pagefair-acceptable{style: "align: center;"}