- content_for :title do "Editing #{@server.title}" end
- content_for :head do
  %meta{:content => "Editing Unturned Server", :name => "description"}
  %meta{:content => "Unturned, Servers, Edit", :name => "keywords"}
.page-header
  %h1 
    Editing:
    %small= @server.title
    .pull-right
      .btn-group
        = link_to 'Cancel', servers_path, class: 'btn btn-danger'
= render 'form'