- content_for :title do "Editing #{@server.title}" end
.page-header
  %h1 
    Editing:
    %small= @server.title
    .pull-right
      .btn-group
        = link_to 'Cancel', servers_path, class: 'btn btn-danger'
= render 'form'