- content_for :head do
  %meta{:content => "New Unturned Server", :name => "description"}
  %meta{:content => "Servers, Unturned, New, Create", :name => "keywords"}
- content_for :title do 'New Server' end
.page-header
  %h1 
    New Server
    .pull-right
      .btn-group
        = link_to 'Cancel', servers_path, class: 'btn btn-danger'

= render 'form'