- content_for :head do
  %meta{:content => "Unturned ServerZ Sponsorship Info", :name => "description"}
  %meta{:content => "Servers, Unturned, Server, Sponsored, Sponsorship, Premium", :name => "keywords"}
- content_for :title do 'Sponsorsed Servers Info' end
.page-header
  %h1 Sponsored Servers Information

.text-center  
  Interested in having your server featured on the top of the front page, and in several other places on the Unturned ServerZ site? Want to gain new players?

  Buying a slot on the front page of the site might not be a bad idea!

  We offer slots at a very cheap cost. If you are still interested in buying one of these slots, please click the 'Contact' button at the bottom of the page to send us an email. Once received, we can decide on a fair price for a slot.