/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap.min
 *= require jquery-tablesorter/theme.bootstrap
 *= require bootstrap-wysihtml5
 */


body {
    padding: 30px 40px;
}

a:link.server { color: black; text-decoration: none; } 
a:visited.server { color: black; text-decoration: none; } 
a:hover.server { color: black; text-decoration: none; } 
a:active.server { color: black; text-decoration: none; } 

a:link.tag { color: white; text-decoration: none; } 
a:visited.tag { color: white; text-decoration: none; } 
a:hover.tag { color: white; text-decoration: none; } 
a:active.tag { color: white; text-decoration: none; } 

.social-media {
	font-size: 32px;
}

.nav-tabs.footer > li, .nav-pills.footer > li {
    float:none;
    display:inline-block;
    *display:inline;
     zoom:1;
    vertical-align: bottom;
}

.nav-tabs.footer, .nav-pills.footer {
    text-align:center;
}

#none {
  color: darkgray;
  text-align: center;
}

.pagination {
	margin: 0px;
}

.header-alert {
	margin-top: 30px;
}

.align {
	vertical-align: middle;
	text-align: center;
	font-size: 16px;
}

.middle {
	vertical-align: middle;
}

#left-dropdown {
	right: 0; 
	left: auto;
}


