/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require flags
 *= require bootstrap-wysihtml5
 */

body {
    padding: 30px 40px;
}

a:link.no-deco { text-decoration: none; } 

a:link.server { color: black; text-decoration: none; } 
a:visited.server { color: black; text-decoration: none; } 
a:hover.server { color: black; text-decoration: none; } 
a:active.server { color: black; text-decoration: none; } 

a:link.tag { color: white; text-decoration: none; } 
a:visited.tag { color: white; text-decoration: none; } 
a:hover.tag { color: white; text-decoration: none; } 
a:active.tag { color: white; text-decoration: none; } 

#tag_cloud {
  width: 400px;
  line-height: 1.6em;
}

.s { font-size: 1.0em; }
.m { font-size: 1.4em; }
.l { font-size: 2.0em; }

.social-media {
	font-size: 32px;
}

#none {
  color: darkgray;
  text-align: center;
}

.pagination {
	margin: 0px;
}

.header-alert {
	margin-top: 35px;
}

#left-dropdown {
	right: 0; 
	left: auto;
}