.page-header
  %h1 Site Stats

.row
  .col-md-6{id: "locations-canvas"}
    %h2 Server Locations
    %hr
    %canvas{id: 'server-locations', height: "350"}
  .col-md-6{id: "versions-canvas"}
    %h2 Server Versions
    %hr
    %canvas{id: 'server-versions', height: "350"}

:javascript
  var location_data = #{get_countries.to_json}
  var width = $("#locations-canvas").width();
  var canvas = document.getElementById("server-locations");
  var ctx = canvas.getContext("2d");
  ctx.canvas.width = width;
  var locationChart = new Chart(ctx).Pie(location_data);
  locationChart.update();

  var version_data = #{get_versions.to_json}
  var width1 = $("#versions-canvas").width();
  var canvas1 = document.getElementById("server-versions");
  var ctx1 = canvas1.getContext("2d");
  ctx1.canvas.width = width1;
  var versionChart = new Chart(ctx1).Pie(version_data);
  versionChart.update();